body {
    color: #e2e5ee;
    background-color: #060624;
}

a {
    color: blanchedalmond;
}

div.sidespacer {
    border-color: goldenrod;
}

div.pagetitle {
    border-color: goldenrod;
}

div.contentblock {
    border-color: goldenrod;
}