body {
    color: #04041f;
    background-color: #edeee2;
}

a {
    color: #0b0b61;
}

div.sidespacer {
    border-color: #1f1f31;
}

div.pagetitle {
    border-color: #1f1f31;
}

div.contentblock {
    border-color: #1f1f31;
}