body {
    color: #282624;
    background-color: #c9c5bc;
}

div {
    border-color: #52423e;
}

a {
    color: #490d03;
}

a:focus,
a:hover {
    color: #606c76
}

/* For map page */
.legend {
    background: #c9c5bc;
}

/* Header/footer background: #1f1f31 text: #c9c5bc */
/* Colour Palette: https://www.tumblr.com/hey-color-palettes/search/steambreather */